{% extends "base.html" %}
{% block css %}
            input{
                margin: 3px;
            }
            .button-big {
              background-color: #fff; /* Green */
              border: 1px solid #ddd; /* Green */
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              -webkit-transition-duration: 0.4s; /* Safari */
              transition-duration: 0.4s;
              margin-bottom: 20px;
            }
            .button-big:hover {
              background-color: #f7f7f7; /* Green */
              color: white;
            }
{% endblock %}
{% block title %}Animals{% endblock %}
{% block titlebard %}Animals{% endblock %}
{% block animalactive %}class="active" {% endblock %}
{% block content %}

<div>
    <button class="button-big"><a href="{{ url_for('addanimal') }}">Add Animal</a></button>
</div>

<div class="panel panel-default">
  <div class="table-responsive">
      <table class="table table-bordered table-hover">
          <thead>
              <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Intake</th>
                  <th>Update</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <tbody>
              {% for animal in animals %}
                  <tr>
                    <td style="text-align: -webkit-center;">
                      {% if animal.typ == 'Elephant' %}
                        <div id="test" style="content: url({{url_for('static', filename='elephant.svg')}}); width: 50px; height: 50px;"></div>
                      {% elif animal.typ == 'Monkey' %}
                        <div id="test" style="content: url({{url_for('static', filename='monkey.svg')}}); width: 50px; height: 50px;"></div>
                      {% elif animal.typ == 'Giraffe' %}
                        <div id="test" style="content: url({{url_for('static', filename='giraffe.svg')}}); width: 50px; height: 50px;"></div>
                      {% endif %}
                    </td>
                    <td>
                      {{animal.name}}
                    </td>
                    <td>
                      {{animal.intake}} lbs
                    </td>
                    <td>
                      <form method="POST" action="./updateanimal" style="display: inline">
                        <input type="hidden" value="{{animal.name}}" name="oldname">
                        <input type="text" value="{{animal.name}}" name="newname">
                        <input type="submit" value="Update">
                      </form>
                    </td>
                    <td>
                      <form method="POST" action="./deleteanimal" style="display: inline">
                        <input type="hidden" value="{{animal.name}}" name="name">
                        <input type="submit" value="Delete">
                      </form>
                    </td>
                  </tr>
              {% endfor %}

          </tbody>
      </table>
  </div>

</div>

{% endblock %}