<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-clearmin.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/roboto.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/material-design.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/small-n-flat.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/c3.min.css') }}">
        <style type="text/css">
            .btnf {
              background-color: DodgerBlue; /* Blue background */
              border: none; /* Remove borders */
              color: white; /* White text */
              padding: 12px 16px; /* Some padding */
              font-size: 16px; /* Set a font size */
              cursor: pointer; /* Mouse pointer on hover */
            }

            /* Darker background on mouse-over */
            .btnf:hover {
              background-color: RoyalBlue;
            }

            .boff {
              background-color: Gray
            }
            .boff:hover {
              background-color: DarkGray
            }
            .btn-outline-secondary{
                margin-bottom: 20px;
            }
            .btn-feeder{
                padding: 12px 16px; /* Some padding */
                background-color: DodgerBlue;
            }
            /* This allows to use FontAwesome for input elements */
            .input_awesome{
                font-family: FontAwesome;
                font-size: 1.3333333333333333em;
                font-weight: 900;
            }
        </style>

        <title>Home</title>
    </head>
    <body class="cm-no-transition cm-2-navbar">
        <div id="cm-menu">
            <nav class="cm-navbar cm-navbar-primary">
                <div class="cm-flex"><a href="{{ url_for('index') }}" class="cm-logo"></a></div>
                <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
            </nav>
            <div id="cm-menu-content">
                <div id="cm-menu-items-wrapper">
                    <div id="cm-menu-scroller">
                        <ul class="cm-menu-items">
                            <li class="active"><a href="{{ url_for('index') }}" class="sf-dashboard">Dashboard</a></li>
                            <li><a href="{{ url_for('users') }}" class="sf-profile-group">Users</a></li>
                            <li><a href="{{ url_for('log') }}" class="sf-file-text">Log</a></li>
                            <li><a href="{{ url_for('animals') }}" class="sf-cat">Animals</a></li>
                            <li><a href="{{ url_for('schedule') }}" class="sf-calendar-clock">Schedule</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <header id="cm-header">
            <nav class="cm-navbar cm-navbar-primary">
                <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
                <div class="cm-flex">
                    <h1>Dashboard</h1> 
                    <form id="cm-search" action="index.html" method="get">
                        <input type="search" name="q" autocomplete="off" placeholder="Search...">
                    </form>
                </div>
                <div class="pull-right">
                    <div id="cm-search-btn" class="btn btn-primary md-search-white" data-toggle="cm-search"></div>
                </div>
                <div class="dropdown pull-right">
                    <button class="btn btn-primary md-notifications-white" data-toggle="dropdown"> <span class="label label-danger"><span id="notif_num">{{notifications}}</span></span> </button>
                    <div class="popover cm-popover bottom">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <div id="notif" class="list-group">

                                {% for i in range(complete|length): %}
                                    {% for time in complete[i+1]: %}
                                    <a href="#" class="list-group-item">
                                        <h4 class="list-group-item-heading">
                                            <i class="fa fa-fw fa-envelope"></i> Feeder {{i+1}} completed its scheduled feed at {{time}}.
                                        </h4>
                                        <p class="list-group-item-text text-overflow">You may go to the Schedule page to check for the remaining times.</p>
                                    </a>
                                    {% endfor %}
                                {% endfor %}

                            </div>
                            <div style="padding:10px"><a class="btn btn-success btn-block" href="#">Show me more...</a></div>
                        </div>
                    </div>
                </div>
                <div class="dropdown pull-right">
                    <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                        <li class="disabled text-center">
                            <a style="cursor:default;"><strong>{{ current_user.username }}</strong></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-cog"></i> Settings</a>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}"><i class="fa fa-fw fa-sign-out"></i> Sign out</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>
        <div id="global">
            <div class="container-fluid">
                {% if current_user.tier == 'Admin' %}
                {% endif %}
                <button type="button" class="btn btn-outline-secondary btn-lg"><a href="{{ url_for('addschedule') }}">Register Time</a></button>
                <button type="button" class="btn btn-outline-secondary btn-lg"><a href="{{ url_for('createdailyschedule') }}">Create Daily Schedule</a></button>
                <button type="button" class="btn btn-outline-secondary btn-lg"><a href="{{ url_for('addfeeder') }}">Add Feeder</a></button>
                <div class="row">
                    <div class="col-xs-12">
                            <div class="row">
                                {% for i in range(feeder|length): %}
                                    <div class="col-xs-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Feeder {{i+1}}</div>
                                            <div class="panel-body text-center">
                                                <h1 class="font-weight-bold">{{feeder[i+1].activation}}</h1>
                                                <!--
                                                <button type="button" class="btn btnf" onclick="addTime({{i+1}})"><i class="fa fa-calendar"></i></button>
                                                -->
                                                <button class="btn btnf"><i class="fas fa-wifi"></i></button>
                                                <form method="POST" action="./deletefeeder" style="display: inline">
                                                    <input type="hidden" value="{{i+1}}" name="feeder_id">
                                                    <!--
                                                        To use Font Awesome on an input element, adjust css (like above),
                                                        and place the four character found in the fontawesome css next to
                                                        "&#x" in "value"
                                                    -->
                                                    <input class="btn btn-primary btn-feeder input_awesome" type="submit" value="&#xf1f8;"/>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Feeder</th>
                                <th>Time</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(feeder|length): %}

                                {% for time in feeder[i+1].schedule: %}

                                <tr>
                                    <td>
                                        Feeder {{i+1}}
                                    </td>
                                    <td>
                                        {{time}}
                                    </td>
                                    <td>
                                        <form method="POST" action="./deletetime" style="display: inline">
                                        <input type="hidden" value="{{i+1}}" name="feeder_id">
                                        <input type="hidden" value="{{time}}" name="time">
                                        <input type="submit" value="Delete">
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endfor %}

                        </tbody>
                    </table>

                </div>



            </div>
            <footer class="cm-footer"><span class="pull-left">Connected as {{ current_user.username }}</span><span class="pull-right">&copy; KEVIN WEBB</span></footer>
        </div>
        <script src="{{ url_for('static', filename='js/lib/jquery-2.1.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.mousewheel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.cookie.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/fastclick.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/clearmin.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/d3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/c3.min.js') }}"></script>
        <script>
        function addTime(feeder_id) {
            url = "/addtime/" + feeder_id
            $.post( url, {
                
            });
            $("#myDiv").load(location.href + " #myDiv");
        }
        function reloadNotifications(){
            $("#notif").load(location.href + " #notif");
            $("#notif_num").load(location.href + " #notif_num");
        }
        setInterval(function(){
            reloadNotifications() // this will run after every 5 seconds
        }, 5000);
        </script>
    </body>
</html>