{% extends "base.html" %}
{% block css %}
.btnf {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btnf:hover {
    background-color: RoyalBlue;
}

.boff {
    background-color: Gray
}
.boff:hover {
    background-color: DarkGray
}
.btn-outline-secondary{
    margin-bottom: 20px;
}
.btn-feeder{
    padding: 12px 16px; /* Some padding */
    background-color: DodgerBlue;
}
/* This allows to use FontAwesome for input elements */
.input_awesome{
    font-family: FontAwesome;
    font-size: 1.3333333333333333em;
    font-weight: 900;
}
{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block titlebard %}Dashboard{% endblock %}
{% block dashactive %}class="active" {% endblock %}
{% block content %}

{% if current_user.tier == 'Admin' %}
                {% endif %}
                <button type="button" class="btn btn-outline-secondary btn-lg"><a href="{{ url_for('addschedule') }}">Register Time</a></button>
                <button type="button" class="btn btn-outline-secondary btn-lg"><a href="{{ url_for('createdailyschedule') }}">Create Daily Schedule</a></button>
                <button type="button" class="btn btn-outline-secondary btn-lg"><a href="{{ url_for('addfeeder') }}">Add Feeder</a></button>
                <div class="row">
                    <div class="col-xs-12">
                            <div class="row">
                                {% for i in range(feeder|length): %}
                                    <div class="col-xs-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Feeder {{i+1}}</div>
                                            <div class="panel-body text-center">
                                                <h1 class="font-weight-bold">{{feeder[i+1].activation}}</h1>
                                                <!--
                                                <button type="button" class="btn btnf" onclick="addTime({{i+1}})"><i class="fa fa-calendar"></i></button>
                                                -->
                                                <button class="btn btnf"><i class="fas fa-wifi"></i></button>
                                                <form method="POST" action="./deletefeeder" style="display: inline">
                                                    <input type="hidden" value="{{i+1}}" name="feeder_id">
                                                    <!--
                                                        To use Font Awesome on an input element, adjust css (like above),
                                                        and place the four character found in the fontawesome css next to
                                                        "&#x" in "value"
                                                    -->
                                                    <input class="btn btn-primary btn-feeder input_awesome" type="submit" value="&#xf1f8;"/>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Feeder</th>
                                <th>Time</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(feeder|length): %}

                                {% for time in feeder[i+1].schedule: %}

                                <tr>
                                    <td>
                                        Feeder {{i+1}}
                                    </td>
                                    <td>
                                        {{time}}
                                    </td>
                                    <td>
                                        <form method="POST" action="./deletetime" style="display: inline">
                                        <input type="hidden" value="{{i+1}}" name="feeder_id">
                                        <input type="hidden" value="{{time}}" name="time">
                                        <input type="submit" value="Delete">
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endfor %}

                        </tbody>
                    </table>

                </div>

{% endblock %}