{% extends "base.html" %}
{% block css %}{% endblock %}
{% block title %}Log{% endblock %}
{% block titlebard %}Log{% endblock %}
{% block logactive %}class="active" {% endblock %}
{% block content %}

<div class="panel panel-default">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Event</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for event in events %}
                                    <tr>
                                      <td>
                                        {{event}}
                                      </td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>

                </div>

{% endblock %}