{% extends "base.html" %}
{% block css %}
            .button-big {
              background-color: #fff; /* Green */
              border: 1px solid #ddd; /* Green */
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              -webkit-transition-duration: 0.4s; /* Safari */
              transition-duration: 0.4s;
              margin-bottom: 20px;
            }
            .button-big:hover {
              background-color: #f7f7f7; /* Green */
              color: white;
{% endblock %}
{% block title %}Users{% endblock %}
{% block titlebard %}Users{% endblock %}
{% block useractive %}class="active" {% endblock %}
{% block content %}

{% if current_user.tier == 'Admin' %}
                <div>
                    <button class="button-big"><a href="{{ url_for('register') }}">Register User</a></button>
                </div>
                {% endif %}
<div class="panel panel-default">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>User Role</th>
                                    <th>Name</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr>
                                      <td>
                                        {{user.username}}
                                      </td>
                                      <td>
                                        {{user.tier}}
                                      </td>
                                      <td>
                                        {{user.first_name}} {{user.last_name}}
                                      </td>
                                      <td>
                                        {% if user.username != current_user.username and current_user.tier == 'Admin' %}
                                        <form method="POST" action="./delete" style="display: inline">
                                          <input type="hidden" value="{{user.username}}" name="username">
                                          <input type="submit" value="Delete">
                                        </form>
                                        {% endif %}
                                      </td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                        <!--
                        {% if current_user.tier == 'Admin' %}
                            <p><a href="{{ url_for('register') }}">Register new user</a></p>
                        {% endif %}
                    -->
                </div>

{% endblock %}